/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  //   background-color: gray;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.contained {
  margin: auto;
  // width: clamp(400px, 40%, 40%);
  max-width: 500px;
  display: grid;
  place-content: center stretch;
  min-height: 80%;
}

.width-100 {
  width: 100%;
}

.flex-grow-1 {
  flex-grow: 1;
}
